<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="Pragma" content="no-cache"> 
		<meta http-equiv="Cache-Control" content="no-cache"> 
		<meta http-equiv="Expires" content="0"> 
		<title>B站爬虫</title> 
		<link href="/static/main.css" type="text/css" rel="stylesheet"> 
		<script type="text/javascript" src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
	</head> 

	<body> 
		<form action = "http://localhost:5000/main" method = "post">
		<div class="crawl">
			<div class="message">B站弹幕词频分析</div>
			<div id="darkbannerwrap"></div>
		
		<!-- <form method="get" action="##" id="form1"> -->
			<input name="action" value="crawl" type="hidden">
			<input name="url" id='addr' placeholder="B站(视频号或up主名称)" required="" type="text">
			<hr class="hr15">
			<input value="抓取数据" id="btn" style="width:100%;" type="submit">
			<hr class="hr20">
		<!-- </form> -->
		
		</div>
		<div class="echart" id="show"></div>
		<div class="copyright"> @by zzx</a></div>

		<table class="Modbus">
			<thead>
			<tr>
				<th>排行</th>
				<th>视频名称</th>
				<th>播放量</th>
				<th>up主</th>
				<th>综合得分</th>
			</tr>	
			</thead>
			<tr>
				<td class="item1">{{sql[0][0]}}</td>
				<td class="item2">{{sql[0][1]}}</td>
				<td class="item3">{{sql[0][2]}}</td>
				<td class="item4">{{sql[0][4]}}</td>
				<td class="item5">{{sql[0][5]}}</td>

			</tr>
			<tr>
				<td class="item1">{{sql[1][0]}}</td>
				<td class="item2">{{sql[1][1]}}</td>
				<td class="item3">{{sql[1][2]}}</td>
				<td class="item4">{{sql[1][4]}}</td>
				<td class="item5">{{sql[1][5]}}</td>
			</tr>
			<tr>
				<td class="item1">{{sql[2][0]}}</td>
				<td class="item2">{{sql[2][1]}}</td>
				<td class="item3">{{sql[2][2]}}</td>
				<td class="item4">{{sql[2][4]}}</td>
				<td class="item5">{{sql[2][5]}}</td>
			</tr>
			<tr>
				<td class="item1">{{sql[3][0]}}</td>
				<td class="item2">{{sql[3][1]}}</td>
				<td class="item3">{{sql[3][2]}}</td>
				<td class="item4">{{sql[3][4]}}</td>
				<td class="item5">{{sql[3][5]}}</td>
			</tr>
			<tr>
				<td class="item1">{{sql[4][0]}}</td>
				<td class="item2">{{sql[4][1]}}</td>
				<td class="item3">{{sql[4][2]}}</td>
				<td class="item4">{{sql[4][4]}}</td>
				<td class="item5">{{sql[4][5]}}</td>
			</tr>
			<tr>
				<td class="item1">{{sql[5][0]}}</td>
				<td class="item2">{{sql[5][1]}}</td>
				<td class="item3">{{sql[5][2]}}</td>
				<td class="item4">{{sql[5][4]}}</td>
				<td class="item5">{{sql[5][5]}}</td>
			</tr>
			<tr>
				<td class="item1">{{sql[6][0]}}</td>
				<td class="item2">{{sql[6][1]}}</td>
				<td class="item3">{{sql[6][2]}}</td>
				<td class="item4">{{sql[6][4]}}</td>
				<td class="item5">{{sql[6][5]}}</td>
			</tr>
			<tr>
				<td class="item1">{{sql[7][0]}}</td>
				<td class="item2">{{sql[7][1]}}</td>
				<td class="item3">{{sql[7][2]}}</td>
				<td class="item4">{{sql[7][4]}}</td>
				<td class="item5">{{sql[7][5]}}</td>
			</tr>
			<tr>
				<td class="item1">{{sql[8][0]}}</td>
				<td class="item2">{{sql[8][1]}}</td>
				<td class="item3">{{sql[8][2]}}</td>
				<td class="item4">{{sql[8][4]}}</td>
				<td class="item5">{{sql[8][5]}}</td>
			</tr>
			<tr>
				<td class="item1">{{sql[9][0]}}</td>
				<td class="item2">{{sql[9][1]}}</td>
				<td class="item3">{{sql[9][2]}}</td>
				<td class="item4">{{sql[9][4]}}</td>
				<td class="item5">{{sql[9][5]}}</td>
			</tr>	
		</table>
		<!-- <div id="rank-more">
			<span class="span-h7"><a href="#">查看更多</a></span>
		</div> -->
		
		<script type="text/javascript">
			var myChart = echarts.init(document.getElementById('show'));
		
			btn['onclick']=x=>{
				if(addr.value == "")
					return;
		
				$.ajax({
					url:'/getEchart',
					type:'get',
					dataType: "json",
					data:{
						url: addr.value,
					},
					success : function(data){
						var json = data.core;
		
						option = {
							title : {
								text: 'B站弹幕的数据',
								subtext: '词频分析',
								x:'center'
							},
							tooltip : {
								trigger: 'item',
								formatter: "{a} <br/>{b} : {c} ({d}%)"
							},
							legend: {
								orient: 'vertical',
								left: 'left',
								data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
							},
							series : [
								{
									name: '访问来源',
									type: 'pie',
									radius : '55%',
									center: ['50%', '40%'],
									data:json,
									itemStyle: {
										emphasis: {
											shadowBlur: 10,
											shadowOffsetX: 0,
											shadowColor: 'rgba(0, 0, 0, 0.5)'
										}
									}
								}
							]
						};
						myChart.setOption(option);
					}	
				})
			}
		</script>
		</form>
	</body>
</html>