*{
    font: 13px/1.5 '微软雅黑', Verdana, Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
    padding:0;
    margin:0;
    list-style:none;
    box-sizing: border-box;
}

body,html{
    height:100%;
    overflow:hidden;
}

body{
    background:url(images/main_bg.jpg) no-repeat center;
    background-size: cover;
}
a {
    color: #525C66;
    text-decoration: none;
}
a{
    color:#85783213;
    text-decoration:none;
    cursor:pointer;
}
.crawl{
    /* 整个框 */
    margin: 50px auto 0 100px;
    max-height: 200px;
    max-width: 420px;
    padding: 40px;
    background-color: #dbc5c5;
    border-radius: 4px;
    box-sizing: border-box;
}
.echart{
    position: absolute;
    top: 0px;
    left: 680px;
    width: 1000px;
    height: 1000px;
    padding: 40px;
    border-radius: 4px;
    box-sizing: border-box;
/*    background-color: #ffffff;*/
}
a.logo{
    display: block;
    height: 58px;
    width: 167px;
    margin: 0 auto 30px auto;
    background-size: 167px 42px;
}
.message {
    /* B站弹幕词频分析 */
    margin: 10px 10 -10 -58px;
    padding: -18px 20px 18px 40px;
    position: relative;
    color: #555555;
    font-size: 26px;
}
/* #darkbannerwrap {
    background: url(static/images/aiwrap.png);
    width: 18px;
    height: 10px;
    margin: -70 0 200px -58px;
    position: relative;
} */
/* #darkbannerwrap {
    background: url(static/images/aiwrap.png);
    width: 18px;
    height: 10px;
    margin: -70 0 200px -58px;
    position: relative;
} */

input[type=text],
input[type=file],select {
    border: 1px solid #DCDEE0;
    vertical-align: middle;
    border-radius: 3px;
    height: 40px;
    padding: 0px 16px;
    font-size: 14px;
    color: #555555;
    outline:none;
    width:100%;
}

input[type=text]:focus,
input[type=file]:focus,select:focus {
    border: 1px solid #555555;
}


input[type=submit],
input[type=button]{
    display: inline-block;
    vertical-align: middle;
    padding: 12px 24px;
    margin: 0px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #ffffff;
    background-color: #555555;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
    outline:none;
    width:100%;
}
hr.hr15 {
    height: 15px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
hr.hr20 {
    height: 20px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.copyright{
    font-size:14px;
    color:rgba(255,255,255,0.85);
    display:block;
    position:absolute;
    bottom:15px;
    right:15px;
}

table
{
    width: 58%;                                         /*设置页面宽度占浏览器大小的40%*/
    margin: 25px auto 0 100px;   
	border-spacing: 0;                                  /*单元格边框间距为0*/
    box-shadow: 0 1px 1px #ccc;                         /*设置表格外边框阴影,有立体感*/
}
 
.Modbus
{
	border:solid #ccc 1px;                              /*设置表格外边框*/
	border-radius: 10px;                                /*设置表格外边框圆角*/
}
 
.Modbus td,.Modbus th
{
	border-right:solid #ccc 1px;                        /*设置表格单元格外边框，只设置右下边框*/
	border-bottom: solid #ccc 1px;
	padding: 3px;                                      /*设置单元格内边距，单元格内容显得不拥挤*/
	text-align: center;                                 /*单元格内容居中*/
}
 
.Modbus thead
{
    background-color: #dbc5c5;                          /*设置表头背景色*/
    font-weight: bold;
}
 
.Modbus td:last-child,.Modbus th:last-child
{
	border-right: none;                                 /*去掉表格每一行最后一列的右边框*/
}
 
.Modbus tr:last-child td 
{
	border-bottom: none;                                /*去掉最后一行中所有单元格的下边框*/
}
 
/*单元格设置圆角*/
.Modbus th:first-child
{
	border-radius: 10px 0 0 0;
}
 
.Modbus th:last-child
{
	border-radius: 0 10px 0 0;
}
 
.Modbus tr:last-child td:first-child
{
	border-radius: 0 0 0 10px;
}
 
.Modbus tr:last-child td:last-child
{
	border-radius: 0 0 10px 0;
}
 
/*鼠标移动至单元格，单元格高亮显示*/
.Modbus tr:hover
{
	background: #dbc5c5;
}
 
/*分别设置每一行中单元格的宽度*/
.item1
{
	width: 6%;
}
.item2
{
	width: 50%;
}
.item3
{
	width: 13%;
}
.item4
{
	width: 18%;
}
.item5
{
	width: 13%;
}